@font-face { font-family: Dagsen; src: url("/Assets/fonts/dagsen/Dagsen_Outline.otf"); }
@font-face { font-family: DagsenB; src: url("/Assets/fonts/dagsen/Dagsen_Black.otf"); }
@font-face { font-family: strechpro; src: url("/Assets/fonts/stretch_pro/StretchPro.otf"); }
body{
    background-color: #101010;
    overflow: hidden;
}
.container{
    height:100vh;
}
.bgGPAtypo{
    font-family: Dagsen;
    text-align: center;
    color: #B2F53D;
    font-size: px;
    opacity: 0.3;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
